/* You can add global styles to this file, and also import other style files */

.fulldiv {
    position:fixed;
    top:0;
    left: 0; 
    height:100%;
    width:100%;
    overflow: hidden;
}

.ol-attribution {
    display: none;
}
.ol-control {
    display: none;
}

@media only screen and (min-width: 768px) {

    .ol-control {
        display: unset;
    }

}